<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.post.dao.DoroMapper">

	<resultMap type="Doro" id="DoroResult">
		<result property="zipcode" column="zipcode" />
		<result property="sido" column="sido" />
		<result property="sigungu" column="sigungu" />
		<result property="doro" column="doro" />
		<result property="building1" column="building1" />
		<result property="building2" column="building2" />
	</resultMap>
	<sql id="selectSql">
		SELECT zipcode, sido, sigungu, doro, building1, building2
		FROM mybatis_post.post
	</sql>

	
	
	
	
	<select id="selectDoroBySido" resultMap="DoroResult">
		<include refid="selectSql"/>
		where sido like #{param1}
	</select>
	<select id="selectDoroByDoro" resultMap="DoroResult">
		<include refid="selectSql"/>
		where sido like #{param1} and doro like #{param2}
	</select>
	
</mapper>